@import 'variables/index';

html, body {
    height: 100%;
}

body{
    background-image: $homepage-background-image;
    background-position: center;
    background-size: cover;
    background-color: $color-black-normal;
}